.app-frame {
    display: flex;
    justify-content: center;
}

.app-wrapper {
    display: flex;
    flex-direction: column;
    width: 370px;
    height: 667px;
    background-color: #F3F3F3;
}

.app-header {
    height: 40px;
    background-color: #4C4C4C;
}

.product-wrapper {
    display: flex;
    justify-content: center;
    height: calc(55vh - 40px);
    background-color: #FFFFFF;
}

.product-image {
    min-width: 300px;
    height: 100%;
    overflow: hidden;
}

.product-description {
    color: #FAFAFA;
    padding: 6px 12px;
    height: 80px;
    background-color: #445E67;
}

.product-description__name {
    font-size: 16px;
}

.product-description__description {
    font-size: 12px;
}

.product-button-container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
}

.product-reject-button {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: #FF4F4F;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}